@model IEnumerable<Employee>

<a asp-action="Create"
   class="bg-green-600 text-white px-4 py-2 rounded">
    Add Employee
</a>

<table class="table-auto w-full mt-4 bg-white shadow-lg">
    <thead class="bg-blue-500 text-white">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Aadhar</th>
            <th>DOB</th>
            <th>Salary</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center border">
                <td>@item.EmpId</td>
                <td>@item.Name</td>
                <td>@item.AadharCard</td>
                <td>@item.DOB.ToShortDateString()</td>
                <td>@item.Salary</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmpId"
                       class="text-blue-600">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmpId"
                       class="text-red-600">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>